*{
    font-family: Arial, Helvetica, sans-serif;
}
#ventana{
    /* position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px; */
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#contenido{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60vw;
    height: 30vw;
    background: rgba(34, 225, 250,.4);
    border-radius: 10px;
    color: white;
}
#butId{
    display: flex;
    justify-content: center;
}
.centrar{
    text-align: center;
}
button{
    background: rgb(252, 227, 8);
    color: white;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
}